h1 {
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 2rem;
}

h3 {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 0;
}

.icon-margin {
    margin-right: 7px;
}

.icon-size {
    width: 15px;
    height: 15px;
}

.img-box {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    margin: 15px 15px 15px 0px;
}

ion-grid {
    margin: 10px;
}

.card-style {
    margin: 0;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    padding: 5px;
}

.card-title {
    font-size: 1rem;
}

.card-number {
    font-size: 2.2rem;
}

.product-item-style {
    --padding-start: 0px;
    --inner-padding-end: 0px;
    --background: transparent;
    font-size: 1.2rem;
}

.prod-name {
    margin-right: 10px;
}