<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <h1>Hello, [username]</h1>
    </ion-item>
  </ion-list>
  
  <ion-list>
      <ion-list-header>
        <h3>Penjualan Hari ini</h3>
      </ion-list-header>
      <ion-item>
        <ion-icon name="wallet-outline" class="icon-margin"></ion-icon>
        <ion-label>Pendapatan: Rp {{ todaysRevenue }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="receipt-outline" class="icon-margin"></ion-icon>
        <ion-label>Jumlah Transaksi: {{ todaysTransactionNumber }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="trophy-outline" class="icon-margin"></ion-icon>
        <ion-label>Produk Terlaris:</ion-label>
      </ion-item>
      <ion-item>
        <div>
          <ion-label><b>{{ todaysBestSellerProduct.name }}</b></ion-label>
          <ion-label>Jumlah terjual: {{ todaysBestSellerQty }}</ion-label>
        </div>
        <ion-img slot="end" [src]="todaysBestSellerProduct.imageUrl" class="img-box"></ion-img>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header>
        <h3>Ringkasan Produk</h3>
      </ion-list-header>
      <ion-item>
        <ion-icon name="file-tray-outline" class="icon-margin"></ion-icon>
        <ion-label>Jumlah Produk di Toko: {{ numOfProducts }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="trending-up-outline" class="icon-margin"></ion-icon>
        <ion-label>Produk Terlaris All Time:</ion-label>
      </ion-item>
      <ion-item>
        <div>
          <ion-label><b>{{ bestSellerProduct.name }}</b></ion-label>
          <ion-label>Jumlah terjual: {{ bestSellerQty }}</ion-label>
        </div>
        <ion-img slot="end" [src]="bestSellerProduct.imageUrl" class="img-box"></ion-img>
      </ion-item>
    </ion-list>
</ion-content>
