.card-style{
    margin: 0;
    height: 100%;
}

.card-title{
    font-size: 1rem;
}
.img-box{
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    margin: 15px 15px 15px 0px;
}
.buttonQuantity{
    display: flex;
    align-items: center;
    gap: 5px;
}