.card-style{
    margin: 0;
    height: 100%;
}

.card-title{
    font-size: 1rem;
}
.img-box{
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    margin: 15px 15px 15px 0px;
}
.buttonQuantity{
    display: flex;
    align-items: center;
    gap: 5px;
}
.stickUp{
    position: sticky;
    top: 0;
    z-index: 10;
    background: rgb(255,254,254, 0.5);
    padding: 20px 10px; //atas bawah, kanan kiri
}

.btnTambah,
.btnKurang {
  padding-left: 0;
  padding-right: 0;
  /* Hapus padding default dari kolom */
}

/* Atur jarak internal button agar tidak terlalu menempel */
.btnTambah {
  padding-right: 0.1rem;
}

.btnKurang {
  padding-left: 0.1rem;
}