.img-kotak {
  /* 1. Tentukan lebarnya (bisa % untuk responsif, atau px tetap seperti 100px) */
  width: 100%;
  // height: 100%;

  /* 2. Paksa bentuk container menjadi persegi (1:1) */
  aspect-ratio: 1/1;

  /* 3. Lakukan crop agar gambar memenuhi kotak tanpa distorsi */
  object-fit: contain;

  /* 4. Pastikan fokus potongan gambar berada tepat di tengah */
  object-position: center;

  background-color: #ffffff; /* Optional: warna latar belakang saat gambar belum dimuat */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.3rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}
